name: Docker Build & Deploy to Minikube

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Build Docker image
      run: docker build -t calculator:latest .

    - name: Push Docker image to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - run: docker tag calculator:latest 05vinay/calculator:latest
    - run: docker push 05vinay/calculator:latest

    - name: Update Kubernetes deployment
      run: |
        kubectl apply -f deployment.yml
        kubectl rollout status deployment/calculator